<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <title>Error Page | GAME RPS</title>
  </head>

  <body>
    <!-- Error page -->
    <div
      class="
        container
        min-vh-100
        d-flex
        justify-content-center
        align-items-center
      "
    >
      <!-- row -->
      <div class="row">
        <!-- col -->
        <div class="col-12">
          <!-- content -->
          <div class="text-center">
            <div class="mb-3">
              <!-- img -->
              <img src="../images/404-error-img.png" alt="" class="img-fluid" />
            </div>
            <!-- text -->
            <h1 class="display-4 fw-bold">
              Oops! Page not found Or you need to login first.
            </h1>
            <p class="mb-4">Click the button below!</p>
            <!-- button -->
            <a href="/login" class="btn btn-primary">Login</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <%- include('partials/script') %>
  </body>
</html>
