<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <title>Regsiter | GAME RPS</title>
  </head>

  <body>
    <!-- container -->
    <div class="container d-flex flex-column">
      <div class="row align-items-center justify-content-center g-0 min-vh-100">
        <div class="py-8 col-12 col-md-8 col-lg-6 col-xxl-4 py-xl-0">
          <!-- Card -->
          <div class="card smooth-shadow-md">
            <!-- Card body -->
            <div class="p-6 card-body">
              <div class="mb-4">
                <a href="/"
                  ><img
                    src="../images/assets/img/logo.png"
                    class="mb-2 me-2"
                    alt=""
                    width="60px"
                  /><span class="text-black fs-3 text-decoration-none"
                    >GAME RPS</span
                  ></a
                >
                <p class="mb-1">Please enter your user information.</p>
              </div>
              <!-- Form -->
              <form action="/register" method="POST">
                <!-- Username -->
                <div class="mb-3">
                  <label for="username" class="form-label">User Name</label>
                  <input
                    type="text"
                    class="form-control"
                    name="username"
                    id="Username"
                    placeholder="username"
                    required
                  />
                </div>
                <!-- Password -->
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="inputPassword3"
                    placeholder="*********"
                    minlength="8"
                    name="password"
                    required
                  />
                </div>
                <!-- Email -->
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="Email"
                    name="email"
                    placeholder="yourmail@mail.com"
                    required
                  />
                </div>

                <!-- Nama -->
                <div class="mb-3">
                  <label for="confirm-password" class="form-label"
                    >Nama lengkap</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="nama"
                    id="nama"
                    placeholder="your name"
                    required
                  />
                </div>
                <!-- Tanggal Lahir -->
                <div class="mb-3">
                  <label for="confirm-password" class="form-label"
                    >Tanggal Lahir</label
                  >
                  <input
                    type="date"
                    class="form-control"
                    name="tanggal_lahir"
                    id="tanggal_lahir"
                    required
                  />
                </div>
                <!-- Alamat -->
                <div class="mb-3">
                  <label for="confirm-password" class="form-label"
                    >Alamat</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="alamat"
                    id="alamat"
                    placeholder="your address"
                    required
                  />
                </div>
                <!-- No Telpon -->
                <div class="mb-3">
                  <label for="confirm-password" class="form-label"
                    >No Telpon</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="notelp"
                    id="notelp"
                    placeholder="xxxxxxxx"
                    required
                  />
                </div>
                <!-- User isAdmin -->
                <div class="mb-3">
                  <div class="mt-2 form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="isAdmin"
                      value="1"
                      id="flexSwitchCheckDefault"
                    />
                    <label
                      class="form-check-label"
                      for="flexSwitchCheckDefault"
                    >
                      Admin</label
                    >
                  </div>
                </div>
                <!-- Checkbox -->
                <div class="mb-3">
                  <div class="form-check custom-checkbox">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      id="agreeCheck"
                    />
                    <label class="form-check-label" for="agreeCheck"
                      ><span class="fs-5"
                        >I agree to the <a href="#">Terms of Service </a>and
                        <a href="#">Privacy Policy.</a></span
                      ></label
                    >
                  </div>
                </div>
                <div>
                  <!-- Button -->
                  <div class="d-grid">
                    <button type="submit" class="btn btn-primary">
                      Create Free Account
                    </button>
                  </div>

                  <div class="mt-4 d-md-flex justify-content-between">
                    <div class="mb-2 mb-md-0">
                      <a href="/login" class="fs-5">Already member? Login </a>
                    </div>
                    <div>
                      <a href="#" class="text-inherit fs-5"
                        >Forgot your password?</a
                      >
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <%- include('partials/script') %>
  </body>
</html>
