<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <div class="container d-flex flex-column">
      <div class="row align-items-center justify-content-center g-0 min-vh-100">
        <div class="py-8 col-12 col-md-8 col-lg-6 col-xxl-4 py-xl-0">
          <!-- Card -->
          <div class="card smooth-shadow-md">
            <!-- Card body -->
            <div class="p-6 card-body">
              <div class="mb-4 text-center">
                <a href="#" class="text-black text-decoration-none important"
                  ><img
                    src="../../images/assets/img/logo.png"
                    class="mb-2"
                    alt=""
                    width="70px"
                  />
                  <span class="text-black fs-3 text-decoration-none"
                    >GAME RPS</span
                  ></a
                >
                <!-- <p class="mb-6">Please Login To C.</p> -->
              </div>
              <!-- Alert -->
              <% if(cekCode === 1){ %>
              <div
                class="alert alert-danger d-flex align-items-center"
                role="alert"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                  class="flex-shrink-0 bi bi-exclamation-triangle-fill me-2"
                  viewBox="0 0 16 16"
                  role="img"
                  aria-label="Warning:"
                >
                  <path
                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
                  />
                </svg>
                <div>Room Code Salah!</div>
              </div>
              <% } %>
              <!-- Form -->
              <form action="/room/cek-play-2" method="POST">
                <!-- Username -->
                <div class="mb-3">
                  <label for="email" class="form-label">Room Code</label>
                  <input
                    type="text"
                    id="email"
                    class="form-control"
                    name="kode_unik"
                    placeholder="Enter room code"
                    required=""
                  />
                  <input type="hidden" name="id" value="<%= id %>" />
                </div>
                <div>
                  <!-- Button -->
                  <div class="d-grid">
                    <input type="submit" class="btn btn-primary" value="Join" />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <!-- Libs JS -->
    <!-- <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="../assets/libs/feather-icons/dist/feather.min.js"></script>
    <script src="../assets/libs/prismjs/components/prism-core.min.js"></script>
    <script src="../assets/libs/prismjs/components/prism-markup.min.js"></script>
    <script src="../assets/libs/prismjs/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="../assets/libs/dropzone/dist/min/dropzone.min.js"></script> -->

    <!-- clipboard -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script> -->

    <!-- Theme JS -->
    <!-- <script src="../assets/js/theme.min.js"></script> -->
  </body>
</html>
